*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
.content{
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
.clear-float:after{
    content: "";
    display: block;
    clear: both;
}
.clear-mt:before{
    content: "";
    display: table;
}
.container{
    min-width: 1200px;
}
.top{
    width: 100%;
}
nav{
    width: 100%;
    min-width: 1200px;
    height: 60px;
    font-size: 14px;
    background: #111;
    color: #fff;
    display: flex;
    position: fixed;
    z-index: 999;
    justify-content: center;
}
nav a{
    color: #fff;
    text-decoration: none;
}
nav a:hover{
    color: #2277da;
}
nav #logo{
    float: left;
    margin-top:15px;
    margin-right:50px;
}
/*顶部导航栏-中间-开始*/
nav .top-nav>li{
    float: left;
    margin-right: 20px;
    line-height: 60px;
    position:relative;
}
/*下拉-通用样式*/
nav .dropdown{       
    background:#111;
    position:absolute;
    font-size: 14px;
    display:none;
}
nav ul.dropdown{
    padding: 0 15px 10px;
}
nav ul.dropdown a{
    display: block;
    width:320px;
    height: 50px;
    background: #292929;
    border-radius: 4px;
    margin: 0 auto 10px;
    padding-left:10px;
}
nav ul.dropdown li{
    line-height: 26px;
}
nav ul.dropdown p{
    font-size: 10px;
    color: #999;
}
nav .pills{
  display:inline-block;
  background: #fd7b00;
  color: #fff;
  font-size: 8px;
  border-radius: 4px;
  height: 20px;
  line-height: 20px;
  padding:0 4px;
  margin-left: 8px;
}
/*域名注册*/
nav .domains .dropdown{
    width: 420px;
    height: 208px;
    padding-bottom: 10px;
}
nav .domains ul{
    border-left:1px solid #999;
    float: left;
    line-height: 36px;
    height: 100%;
    padding:0 20px;
}
nav .domains ul:first-child{
    border:0;
    padding-left:20px;
}
nav .domains ul li:first-child{
    color: #999;
}
nav .domains ul li{
    line-height: 30px;
}
nav .domains:hover .dropdown{
    display: block;
    z-index: 1;
}

/*云虚拟主机*/
nav .host:hover .dropdown{
    display: block;
    z-index: 1;
}
/*云服务器*/
nav .clouds:hover .dropdown{
    display: block;
    z-index: 1;
}
/*独立服务器*/
nav .idc .dropdown{
  width: 520px;
  height: 360px;
  padding: 10px 20px;
  line-height: 40px;
}
nav .idc .dropdown ul{
  float: left;
  width: 150px;
  border-right: 1px solid #999;
}
nav .idc:hover .dropdown{
  display: block;
  z-index: 1;
}
/*解决方案*/
nav .solution:hover .dropdown{
    display: block;
    z-index: 1;
}
/*顶部导航栏-中间-结束*/
/*顶部导航栏-右侧-开始*/
nav .top-right li{
    float: right;
    line-height: 60px;
    font-size: 12px;
}
nav .top-right li img{
    margin:0 8px;
    vertical-align: baseline;
}
nav .top-right li:first-child{
    margin-left: 20px;
}
/*顶部导航栏-右侧-结束*/
/*top-banner-start*/
.banner{
    background:url("../img/about/about-1.jpg") center ;
    text-align: center;
    width: 100%;
    height:400px;    
}
/*top-banner-end*/
section{
    width: 100%;
    color: #444;
}
h1{
    font-size: 34px;
    font-weight: normal;
    line-height: 68px;
    padding-top: 40px;
}
.p0{
    color: #666;
    line-height: 32px;
    margin-bottom: 40px;
}
.p14{
    font-size: 14px;
    line-height: 28px;
}
section a{
    color:#444;
    text-decoration: none;
}
section .htnav{
    width: 100%;
    height: 60px;
    background: #f2f2f2;
}
section .htnav span{
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    line-height: 60px;
    height: 48px;
    cursor: pointer;
}
section .tabs .htnav{
    width: 100%;
    height: 60px;
    background: #f2f2f2;
}
#tab li{
	float: left;
}
#tab li a{
    display:inline-block;
    text-decoration:none;
    color: #444;
    height: 48px;
    padding: 0 30px;
    font-size: 14px;
	line-height: 60px;
	text-align: center;
}
#tab li a.on{
    border-bottom: 2px solid #2277da;
}
#content1,#content2,#content3,#content4{
    padding:40px 0;
    display: none;
}
section .lf{
    float: left;
}
section .rt{
    float:right;
}
section #content1 .lf,#content1 .rt{
    width: 50%;
    height: 300px;
}
section .tabs .grey{
    color: #999;
    font-size: 14px;
    line-height: 28px;
    padding-top: 30px;
}
section .tabs .img1{
    text-align: center;
}
section .p20{
    font-size: 20px;
    line-height: 40px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
section #content1{
    padding-bottom: 0;
}
section #content1 .img2{
    position: relative;
    top:-14px;
}
section #content1 hr.line{
    width: 290px;
    border:0;
    border-top:1px solid #2277da;
    margin: 30px auto;
}
section #content1 div.slick{
    width: 845px;
    height: 442px;
    margin: 0 auto 40px;
}
section #content1 div.qf{
    width: 100%;
    padding: 20px 0;
}
section #content1 .cantbox{
    width: 100%;
    height: 320px;
    background: #f2f2f2;
    padding: 40px 0;
}
section #content1 .cantbox ul.cant>li{
    float: left;
    font-size: 16px;
    line-height: 32px;
    width: 400px;
}
section #content1 .cantbox ul.cant .p18{
    font-size: 18px;
    margin: 10px 0 20px;
}
section #content1 .cantbox ul.cant .li1{
    color: #2277da;
    font-style: italic;
    font-size: 30px;
    margin-bottom: 10px;
}
section #content1 .cantbox ul.cant li ul{
    padding-left: 60px;
}
section #content1 .cantbox ul.cant .li2{
    color: #999;
}
section #content1 .cantbox ul.cant .li3{
    color: #2277da;
}
section #content1 .cantbox ul.cant .li4{
    font-size: 14px;
    padding-left: 40px;
    background: url(../img/about/about_07.png) no-repeat left center;
}
section #content1 .cantbox ul.cant .li4 a:hover{
    color: #2277da;
}
section #content1 .cantbox ul.cant .li5{
    font-size: 12px;
    color: #999;
}
section #content1 .cantbox ul.cant>li:nth-child(2) a{
    display: inline-block;
    padding: 0 17px 0 45px;
    margin: 0 15px 15px 0;
    font-size: 14px;
    border:1px solid #2277da;
    border-radius: 15px;
    background: url(../img/about/QQ.png) no-repeat 16px -39px;
}
section #content1 .cantbox ul.cant>li:nth-child(2) a:hover{
    background:#2277da url(../img/about/QQ.png) no-repeat 16px 3px;
    color: #fff;
}
section #content1 .cantbox ul.cant>li:nth-child(2) div{
    padding:0 60px 0 40px; 
}
section #content1 .cantbox ul.cant>li:last-child p.p14{
    color: #999;
}
section #content1 .cantbox ul.cant>li:last-child a{
    display: inline-block;
    color: #2277da;
    border:1px solid #2277da;
    border-radius: 3px;
    padding: 0 16px;
    font-size: 14px;
    margin-top: 10px;
}
section #content1 .cantbox ul.cant>li:last-child a:hover{
    background: #2277da;
    color: #fff;
}
section #content2{
    font-size: 14px;
    line-height: 28px;
}
section #content2 .p1{
    padding: 0 50px;
}
section #content2 div.lic{
    background: url(../img/about/about_04.jpg) no-repeat 80px top;
}
section #content2 ul{
    margin-left: 210px;
    line-height: 47px;
    padding-top: 23px;
}
section #content2 ul li{
    height: 47px;
    line-height: 47px;
}
section #content2 ul .left{
    font-size: 12px;
    color: #999;
    display: inline-block;
    width: 75px;
}
section #content2 ul .right{
    display: inline-block;
    width: 810px;
    margin-left: 43px;
}
section #content3 p.gt{
    color: #999;
    padding-left: 8px;
    border-left: 2px solid #2277da;
    line-height: 24px;
    margin-bottom: 5px;
}
section #content3 .lf p.address{
    font-size: 14px;
    line-height: 32px;
    margin-left: 20px;
    padding-left: 17px;
    background: url(../img/about/about-lx.png) no-repeat -3px -109px;
}
section #content3 .lf p.address span{
    color: #999;
    font-size: 12px;
}
section #content3 .lf .lgb{
    margin-top: 20px;
}
section #content3 .lf .lgb ul li{
    font-size: 12px;
    line-height: 35px;
    color: #999;
    margin-left: 20px;
    padding-left: 22px;
}
section #content3 .lf .lgb ul li:first-child{
    background: url(../img/about/about-lx.png) no-repeat 0 -28px;
}
section #content3 .lf .lgb ul li:nth-child(2){
    background: url(../img/about/about-lx.png) no-repeat 0 -66px;
}
section #content3 .lf .lgb ul li:nth-child(3){
    background: url(../img/about/about-lx.png) no-repeat 0 12px;
}
section #content3 .lf li u,#content3 .lf li i,#content3 .lf li span{
    margin-left: 8px;
    font-size: 14px;
    color: #444;
}
section #content3 .lf .lgb ul li i{
    color: #2277da;
}
section #content3 .rt{
    width: 60%;
}
section #content3 .rt ul{
    padding-left: 20px;
}
section #content3 .rt ul>li{
    float: left;
}
section #content3 .rt ul>li>span{
    font-size: 12px;
    color: #999;
    width: 80px;
    text-align: right;
    background: url(../img/about/liQ_01.png) no-repeat 31px center;
    float: left;
}
section #content3 .rt ul div.rtq{
    font-size: 14px;
    line-height: 28px;
    float: left;
    position: relative;
    top:-20px;
    left:90px;
}
section #content3 .rt ul div>span{
    display: inline-block;
    width: 320px;
}
section #content3 .rt ul div img{
    vertical-align: middle;
}
section #content3 .rt ul div a{
    width: 40%;
    margin-right: 20px;
    color: #2277da;
}
section #content3 .rt ul div a b{
    color: #999;
    font-weight: normal;
}
section #content3 .timg{
    text-align: center;
}
section #content4 p.p20 a{
    float: right;
    font-size: 14px;
    line-height: 32px;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
section #content4 p.p20 a:hover{
    color: #2277da;
}
section #content4 table{
    margin-top: 20px;
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
}
section #content4 table td{
    padding-left: 20px;
}
section #content4 table thead{
    border: 1px solid #2277da;
}
section #content4 table thead tr td{
    color: #fff;
    background: #2277da;
    line-height: 70px;
}
section #content4 table tbody tr{
    border: 1px solid #eee;
}
section #content4 table tbody td{
    line-height: 60px;
}
section #content4 table tbody tr:hover{
    background: #f2f2f2;
}
section #content4 table tbody tr.placey{
    background: #f2f2f2;
}
section #content4 table tbody tr.placey div{
    border-bottom: 1px solid #ccc;
}
section #content4 table tbody tr.placey td{
    padding: 20px 60px;
}
section #content4 table tbody tr.placey p.p20{
    border-bottom: 0;
}
section #content4 table tbody tr.placey ul{
    font-size: 14px;
    line-height: 28px;
    padding-left: 50px;
}
/*底部样式-开始*/
footer{
    width: 100%;
    color: #bbb;
}
footer a{
    color: #bbb;
    text-decoration: none;
}
footer a:hover{
    color:#2377da;
}
/*注册会员OR成为合作伙伴*/
footer .f1{
    width: 100%;
    height: 100px;
    background:#2377da url(../img/footer/bag03.jpg) center center no-repeat;
    text-align: center;
}
footer .f1 a{
    display: inline-block;
    color: #fff;
    text-decoration:none;
    border:1px solid #fff;
    border-radius: 4px;
    padding: 10px 20px;
    position: relative;
    top:30px;
}
footer .f1 a:first-child{
    right: 2px;
}
footer .f1 a:last-child{
    left: 214px;
}
/*售后保障*/
footer .f2{
    background: #444;
}
footer .f2 .content{
    height: 80px;
    color: #fff;
}
footer .f2 .f-after{
    width: 1200px;
    height: 80px;
    font-size: 14px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
footer .f2 .f-after li{
    float: left;
    align-self: center;
}
footer .f2 .f-after li img{
    vertical-align: middle;
    margin-right: 8px;
}
/*横线*/
footer hr{
    width: 100%;
    border:none;
    border-top: 1px solid #fff;
}
/*产品导航*/
footer .f3{
    background: #444;
}
footer .f3 .content{
    height: 40px;
}
footer .f3 .f-nav{
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    font-size: 12px;
    color: #888;
}
footer .f3 .f-nav li{
    float: left;
    margin-left: 20px;
    line-height: 40px;
}
footer .f3 a{
    color: #fff;
}
footer .f3 a:hover{
    color: #2377da;
}
/*底部主导航*/
footer .f4{
    background: #2E3033;
    color:#bbb;
}
footer .f4 .content{
    height: 266px;
}
footer .f4 .fb,.flogo{
    float: left;
    margin-top: 50px;
    border-left: 1px solid #bbb;
    padding-left: 20px;
}
footer .f4 .fb{
    margin-right: 80px;
    font-size: 12px;
}
footer .f4 .fb p{
    font-size: 16px;
    margin-bottom: 15px;
}
footer .f4 .fb li{
    line-height: 2em;
}
footer .f4 table img{
    margin-right: 5px;
}
footer .f4 table td{
    width:120px;
    height: 50px;
}
footer .f4 .flogo{
    width:300px;
    height: 150px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
}
footer .f4 .flogo img{
    margin: 18px auto;
}
footer .f4 .clear:after{
  content: '';
  display: block;
  clear: both;
}
footer .f4 .fb,.flogo{
    float: left;
    margin-top: 50px;
    border-left: 1px solid #bbb;
    padding-left: 20px;
}
footer .f4 .fb{
    margin-right: 80px;
    font-size: 12px;
}
footer .f4 .fb p{
    font-size: 16px;
    margin-bottom: 15px;
}
footer .f4 .fb li{
    line-height: 2em;
}
footer .f4 table img{
    margin-right: 5px;
}
footer .f4 table td{
    width:120px;
    height: 50px;
}
footer .f4 .flogo{
    width:300px;
    height: 150px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
}
footer .f4 .flogo img{
    margin: 18px auto;
}
footer .f4 .clear:after{
  content: '';
  display: block;
  clear: both;
}
/*友情链接*/
footer .f5{
    width: 100%;
    background: #2e3033;
    font-size: 12px;
}
footer .f5 .content{
    height: 40px;
}
footer .f5 a{
    margin: 0 10px;
}
footer .f5 span{
    margin: 0 20px;
}
/*版权声明*/
footer .f6{
    width: 100%;
    height: 40px;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    color:#000;
}
/*底部样式-结束*/