*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
.content{
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
.clear-float:after{
    content: "";
    display: block;
    clear: both;
}
.clear-mt:before{
    content: "";
    display: table;
}
.container{
    min-width: 1200px;
}
.top{
    width: 100%;
}
nav{
    width: 100%;
    min-width: 1200px;
    height: 60px;
    font-size: 14px;
    background: #111;
    color: #fff;
    display: flex;
    position: fixed;
    z-index: 999;
    justify-content: center;
}
nav a{
    color: #fff;
    text-decoration: none;
}
nav a:hover{
    color: #2277da;
}
nav #logo{
    float: left;
    margin-top:15px;
    margin-right:50px;
}
/*顶部导航栏-中间-开始*/
nav .top-nav>li{
    float: left;
    margin-right: 20px;
    line-height: 60px;
    position:relative;
}
/*下拉-通用样式*/
nav .dropdown{       
    background:#111;
    position:absolute;
    font-size: 14px;
    display:none;
}
nav ul.dropdown{
    padding: 0 15px 10px;
}
nav ul.dropdown a{
    display: block;
    width:320px;
    height: 50px;
    background: #292929;
    border-radius: 4px;
    margin: 0 auto 10px;
    padding-left:10px;
}
nav ul.dropdown li{
    line-height: 26px;
}
nav ul.dropdown p{
    font-size: 10px;
    color: #999;
}
nav .pills{
  display:inline-block;
  background: #fd7b00;
  color: #fff;
  font-size: 8px;
  border-radius: 4px;
  height: 20px;
  line-height: 20px;
  padding:0 4px;
  margin-left: 8px;
}
/*域名注册*/
nav .domains .dropdown{
    width: 420px;
    height: 208px;
    padding-bottom: 10px;
}
nav .domains ul{
    border-left:1px solid #999;
    float: left;
    line-height: 36px;
    height: 100%;
    padding:0 20px;
}
nav .domains ul:first-child{
    border:0;
    padding-left:20px;
}
nav .domains ul li:first-child{
    color: #999;
}
nav .domains ul li{
    line-height: 30px;
}
nav .domains:hover .dropdown{
    display: block;
    z-index: 1;
}

/*云虚拟主机*/
nav .host:hover .dropdown{
    display: block;
    z-index: 1;
}
/*云服务器*/
nav .clouds:hover .dropdown{
    display: block;
    z-index: 1;
}
/*独立服务器*/
nav .idc .dropdown{
  width: 520px;
  height: 360px;
  padding: 10px 20px;
  line-height: 40px;
}
nav .idc .dropdown ul{
  float: left;
  width: 150px;
  border-right: 1px solid #999;
}
nav .idc:hover .dropdown{
  display: block;
  z-index: 1;
}
/*解决方案*/
nav .solution:hover .dropdown{
    display: block;
    z-index: 1;
}
/*顶部导航栏-中间-结束*/
/*顶部导航栏-右侧-开始*/
nav .top-right li{
    float: right;
    line-height: 60px;
    font-size: 12px;
}
nav .top-right li img{
    margin:0 8px;
    vertical-align: baseline;
}
nav .top-right li:first-child{
    margin-left: 20px;
}
/*顶部导航栏-右侧-结束*/
/*top-banner-start*/
.banner{
    background:url("../img/cooperation/cooperation.png") center ;
    text-align: center;
    width: 100%;
    height:400px;    
}
/*top-banner-end*/
/*主体内容样式-开始*/
section{
    width: 100%;
    color: #444;
}
h1{
    font-size: 34px;
    font-weight: normal;
    line-height: 68px;
    padding-top: 40px;
}
.p0{
    color: #666;
    line-height: 32px;
    margin-bottom: 40px;
}
.p14{
    font-size: 14px;
    line-height: 28px;
}
/*成为网硕互联的合作伙伴优势介绍*/
.ptn1{
    height: 460px;
}
.ptn1 .lf{
    float: left;
}
.ptn1 .rt{
    float: right;
    font-size: 14px;
    line-height: 28px;
    width: 728px;
    color: #444;
}
.ptn1 .rt ul{
    margin-top: 10px;
    color: #666;
}
.ptn1 .rt ul li{
    float: left;
    width: 29%;
    padding-left: 27px;
    background: url(../img/cooperation/partner_06.jpg) no-repeat left center;
    line-height: 42px;
}
/*合作伙伴平台功能*/
.ptn2{
    width: 100%;
    height: 628px;
    background: url(../img/cooperation/partner_05.jpg) no-repeat center;
    color: #fff;
}
.ptn2 h1{
    text-align: center;
    padding-top: 30px;
}
.ptn2 h3{
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    margin-top: 15px;
}
.ptn2 ul li{
    float: left;
    width: 220px;
    height: 220px;
    background: rgba(255,255,255,.2);
    box-sizing: border-box;
    padding:0 20px;
    margin: 30px 40px 0 40px;
    text-align: center;
}
.ptn2 ul li:hover{
    background:rgba(35,119,218,.4);
}
.ptn2 ul li div.img{
    width: 57px;
    height: 63px;
    margin: 20px auto 0;
    background: url(../img/cooperation/partner-1.png) no-repeat;
}
.ptn2 ul li div.a{
    background-position: center 16px;
}
.ptn2 ul li div.b{
    background-position: center -74px;
}
.ptn2 ul li div.c{
    background-position: center -152px;
}
.ptn2 ul li div.d{
    background-position: center -233px;
}
.ptn2 ul li div.e{
    background-position: center -311px;
}
.ptn2 ul li div.f{
    background-position: center -391px;
}
.ptn2 ul li div.g{
    background-position: center -470px;
}
.ptn2 ul li div.h{
    background-position: center -538px;
}
/*合作伙伴标准与级别*/
.ptn3 .p0{
    margin-bottom: 10px;
}
.ptn3 .p14 span.grey{
    color: #999;
    margin-left: 8px;
}
.ptn3 ul.main{
    margin: 20px 0 40px;
    height: 600px;
    font-size: 14px;
    line-height: 28px;
}
.ptn3 ul.main>li{
    float: left;
    width: 20%;
    box-sizing: border-box;
    color: #fff;
    padding: 40px 20px;
}
.ptn3 ul.main div.img{
    width: 120px;
    height: 120px;
    background: url(../img/cooperation/dluser.png);
    margin: 0 auto 20px;
}
.ptn3 ul.main p.grade{
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}
.ptn3 ul.main p.cd{
    margin: 0 0 40px 50px;
}
.ptn3 ul.main li ul{
    margin-top: 30px;
    margin-left: 50px;
}
.ptn3 ul.main span.diamond{
    display: inline-block;
    height: 12px;
    background: url(../img/cooperation/diamond.png) repeat-x left center;
    margin-left: 5px;
}
.ptn3 ul.main .l1{
    background-color: #79a6d9;
}
.ptn3 ul.main .l1 span.diamond{
    width: 15px;
}
.ptn3 ul.main .l2{
    background-color: #649ad9;
}
.ptn3 ul.main .l2 span.diamond{
    width: 30px;
}
.ptn3 ul.main .l3{
    background-color: #4e8fd9;
}
.ptn3 ul.main .l3 span.diamond{
    width: 45px;
}
.ptn3 ul.main .l4{
    background-color: #3883d9;
}
.ptn3 ul.main .l4 span.diamond{
    width: 60px;
}
.ptn3 ul.main .l5{
    background-color: #2277da;
}
.ptn3 ul.main .l5 span.diamond{
    width: 75px;
}
/*合作条件*/
.ptn4{
    width: 100%;
    height: 770px;
    background: url(../img/cooperation/partner.jpg) no-repeat center;
    color: #fff;
}
.ptn4 h1,.ptn4 .p0{
    text-align: center;
}
.ptn4 ul{
    margin-top: 160px;
    display: flex;
    align-content:space-between;
}
.ptn4 ul li{
    width: 200px;
    text-align: center;
    box-sizing: border-box;
    padding: 0 50px;
    font-size: 12px;
}
.ptn4 ul li p.p12{
    line-height: 24px;
}
.ptn4 ul li p.img{
    width: 51px;
    height: 51px;
    margin: 0 auto 15px;
    background: url(../img/cooperation/partner-1.png) no-repeat center top;
}
.ptn4 ul li p.a{
    background-position: center -1107px;
}
.ptn4 ul li p.b{
    background-position: center -1186px;
}
.ptn4 ul li p.c{
    background-position: center -1265px;
}
.ptn4 ul li p.d{
    background-position: center -1345px;
}
.ptn4 ul li p.e{
    background-position: center -1424px;
}
.ptn4 ul li p.f{
    background-position: center -1503px;
}
.ptn4 .txt{
    font-size: 14px;
    color: #c0c0c0;
    line-height: 28px;
    margin-top: 65px;
}
.ptn4 .txt .lf,.txt .rt{
    width: 540px;
    margin-left:30px; 
}
.ptn4 .txt p{
    margin-bottom: 20px;
}
.ptn4 .txt .lf{
    float: left;
}
.ptn4 .txt .rt{
    float: right;
}
/*申请成为网硕合作伙伴*/
.ptn5{
    padding-bottom: 60px;
    font-size: 14px;
}
.ptn5 ul li{
    margin-bottom: 20px;
}
.ptn5 ul li span{
    display: inline-block;
}
.ptn5 ul li span.pt{
    color: #999;
    width: 200px;
    margin-right: 20px;
    text-align: right;
}
.ptn5 input.ipt,input.sbt,.ptn5 select{
    width: 408px;
    height: 38px;
    border-radius: 3px;
}
.ptn5 ul li input.ipt{
    border: 1px solid #ccc;
    padding-left: 10px;
}
.ptn5 ul li select{
    border: 1px solid #ccc;
    color: #444;
}
.ptn5 ul li a{
    color: #2277da;
    text-decoration: none;
}
.ptn5 ul li .checkbox{
    margin-right: 5px;
    vertical-align: middle;
}
.ptn5 ul li .sbt{
    background: #2277da;
    color: #fff;
    border: none;
}
.ptn5 form span.warn,.ptn5 form span.fail{
    display: none;
    font-size: 14px;
    margin-left:20px;
}
.ptn5 form span.fail{
    color: red;
}
/*主体内容样式-结束*/
/*底部样式-开始*/
footer{
    width: 100%;
    color: #bbb;
}
footer a{
    color: #bbb;
    text-decoration: none;
}
footer a:hover{
    color:#2377da;
}
/*注册会员OR成为合作伙伴*/
footer .f1{
    width: 100%;
    height: 100px;
    background:#2377da url(../img/footer/bag03.jpg) center center no-repeat;
    text-align: center;
}
footer .f1 a{
    display: inline-block;
    color: #fff;
    text-decoration:none;
    border:1px solid #fff;
    border-radius: 4px;
    padding: 10px 20px;
    position: relative;
    top:30px;
}
footer .f1 a:first-child{
    right: 2px;
}
footer .f1 a:last-child{
    left: 214px;
}
/*售后保障*/
footer .f2{
    background: #444;
}
footer .f2 .content{
    height: 80px;
    color: #fff;
}
footer .f2 .f-after{
    width: 1200px;
    height: 80px;
    font-size: 14px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
footer .f2 .f-after li{
    float: left;
    align-self: center;
}
footer .f2 .f-after li img{
    vertical-align: middle;
    margin-right: 8px;
}
/*横线*/
footer hr{
    width: 100%;
    border:none;
    border-top: 1px solid #fff;
}
/*产品导航*/
footer .f3{
    background: #444;
}
footer .f3 .content{
    height: 40px;
}
footer .f3 .f-nav{
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    font-size: 12px;
    color: #888;
}
footer .f3 .f-nav li{
    float: left;
    margin-left: 20px;
    line-height: 40px;
}
footer .f3 a{
    color: #fff;
}
footer .f3 a:hover{
    color: #2377da;
}
/*底部主导航*/
footer .f4{
    background: #2E3033;
    color:#bbb;
}
footer .f4 .content{
    height: 266px;
}
footer .f4 .fb,.flogo{
    float: left;
    margin-top: 50px;
    border-left: 1px solid #bbb;
    padding-left: 20px;
}
footer .f4 .fb{
    margin-right: 80px;
    font-size: 12px;
}
footer .f4 .fb p{
    font-size: 16px;
    margin-bottom: 15px;
}
footer .f4 .fb li{
    line-height: 2em;
}
footer .f4 table img{
    margin-right: 5px;
}
footer .f4 table td{
    width:120px;
    height: 50px;
}
footer .f4 .flogo{
    width:300px;
    height: 150px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
}
footer .f4 .flogo img{
    margin: 18px auto;
}
footer .f4 .clear:after{
  content: '';
  display: block;
  clear: both;
}
footer .f4 .fb,.flogo{
    float: left;
    margin-top: 50px;
    border-left: 1px solid #bbb;
    padding-left: 20px;
}
footer .f4 .fb{
    margin-right: 80px;
    font-size: 12px;
}
footer .f4 .fb p{
    font-size: 16px;
    margin-bottom: 15px;
}
footer .f4 .fb li{
    line-height: 2em;
}
footer .f4 table img{
    margin-right: 5px;
}
footer .f4 table td{
    width:120px;
    height: 50px;
}
footer .f4 .flogo{
    width:300px;
    height: 150px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
}
footer .f4 .flogo img{
    margin: 18px auto;
}
footer .f4 .clear:after{
  content: '';
  display: block;
  clear: both;
}
/*友情链接*/
footer .f5{
    width: 100%;
    background: #2e3033;
    font-size: 12px;
}
footer .f5 .content{
    height: 40px;
}
footer .f5 a{
    margin: 0 10px;
}
footer .f5 span{
    margin: 0 20px;
}
/*版权声明*/
footer .f6{
    width: 100%;
    height: 40px;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    color:#000;
}
/*底部样式-结束*/