*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
.content{
    width: 1200px;
    margin: 0 auto;
    color: #444;
}
.clear-float:after{
    content: "";
    display: block;
    clear: both;
}
.clear-mt:before{
    content: "";
    display: table;
}
h1{
    font-weight: normal;
    padding: 40px 0 10px;
}
/*头部样式*/
.head{
    width: 100%;
}
nav{
    width: 100%;
    min-width: 1200px;
    height: 60px;
    font-size: 14px;
    background: #111;
    color: #fff;
    display: flex;
    position: fixed;
    justify-content: center;
}
nav a{
    color: #fff;
    text-decoration: none;
}
nav a:hover{
    color: #2277da;
}
nav #logo{
    float: left;
    margin-top:15px;
    margin-right:50px;
}
/*顶部导航栏-中间-开始*/
nav .top-nav>li{
    float: left;
    margin-right: 20px;
    line-height: 60px;
    position:relative;
}
/*下拉-通用样式*/
nav .dropdown{       
    background:#111;
    position:absolute;
    font-size: 14px;
    display:none;
}
nav ul.dropdown{
    padding: 0 15px 10px;
}
nav ul.dropdown a{
    display: block;
    width:320px;
    height: 50px;
    background: #292929;
    border-radius: 4px;
    margin: 0 auto 10px;
    padding-left:10px;
}
nav ul.dropdown li{
    line-height: 26px;
}
nav ul.dropdown p{
    font-size: 10px;
    color: #999;
}
nav .pills{
  display:inline-block;
  background: #fd7b00;
  color: #fff;
  font-size: 8px;
  border-radius: 4px;
  height: 20px;
  line-height: 20px;
  padding:0 4px;
  margin-left: 8px;
}
/*域名注册*/
nav .domains .dropdown{
    width: 420px;
    height: 208px;
    padding-bottom: 10px;
}
nav .domains ul{
    border-left:1px solid #999;
    float: left;
    line-height: 36px;
    height: 100%;
    padding:0 20px;
}
nav .domains ul:first-child{
    border:0;
    padding-left:20px;
}
nav .domains ul li:first-child{
    color: #999;
}
nav .domains ul li{
    line-height: 30px;
}
nav .domains:hover .dropdown{
    display: block;
    z-index: 1;
}

/*云虚拟主机*/
nav .host:hover .dropdown{
    display: block;
    z-index: 1;
}

/*云服务器*/
nav .clouds:hover .dropdown{
    display: block;
    z-index: 1;
}
/*独立服务器*/
nav .idc .dropdown{
  width: 520px;
  height: 360px;
  padding: 10px 20px;
  line-height: 40px;
  color: #fff;

}
nav .idc .dropdown ul{
  float: left;
  width: 150px;
  border-right: 1px solid #999;
}
nav .idc:hover .dropdown{
  display: block;
  z-index: 1;
}
/*解决方案*/
nav .solution:hover .dropdown{
    display: block;
    z-index: 1;
}
/*顶部导航栏-中间-结束*/
/*顶部导航栏-右侧-开始*/
nav .top-right li{
    float: right;
    line-height: 60px;
    font-size: 12px;
    color: #fff;
}
nav .top-right li img{
    margin:0 8px;
}
nav .top-right li:first-child{
    margin-left: 20px;
}
/*顶部导航栏-右侧-结束*/
/*top-banner*/
.banner{
    background:url("../img/domains/domin_01.jpg") center center no-repeat;
    height:580px;    /*?banner*/
}
.banner .pt{
    padding-top: 132px;
    color: #fff;
}
.banner p.ws{
    font-size: 14px;
    line-height: 28px;
    text-align: center;
}
.banner h1{
    text-align: center;
    font-size: 34px;
    line-height: 68px;
    padding: 0;
}
.banner .search-box{
    margin: 0 auto;
    width: 900px;
}
.banner .zyw a{
    display: inline-block;
    padding: 0 18px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
.banner .zyw a.en{
    color: #2277da;
    background-color: #fff;
    border-top: 2px solid #2277da;
}
.banner input{
    border: 0;
    outline: 0;
    vertical-align: middle;
}
.banner input.case{
    width: 749px;
    height: 58px;
    font-size: 14px;
    line-height: 58px;
    padding-left: 20px;
    border: 1px solid #ccc;
    border-right: 0;
    outline: 0;
}
.banner input.sbt{
    width: 130px;
    height: 60px;
    background: url(../img/domains/sbt_03.jpg) center no-repeat;
    cursor: pointer;
}
.banner .checkbox{
    font-size: 14px;
    line-height: 28px;
    margin-top: 30px;
    user-select: none;
}
.banner label.checked{
    background: url(../img/domains/checkbox.png) no-repeat left 15px;
}
.banner label{
    display: inline-block;
    width: 109px;
    line-height: 42px;
}
label.checked input{
    opacity: 0;
}
.banner label.on{
    background-position-y: -27px;
}
/*全面的域名服务*/
.dn-1 .content{
    height: 535px;
    color: #444;
}
.dn-1 ul{
    margin: 15px 0;
}
.dn-1 ul li{
    width: 348px;
    height: 148px;
    border: 1px solid #ccc;
    overflow: hidden;
    float: left;
    margin: 25px;
}
.dn-1 ul li .dn-img{
    background:url(../img/domains/domin_03.jpg) no-repeat center -132px;
    width: 34px;
    height: 26px;
    float: left;
    margin: 20px 0 0 35px;
}
.dn-1 ul li .b{
    background-position: center -165px;
}
.dn-1 ul li .c{
    background-position: center 4px;
}
.dn-1 ul li .d{
    background-position: center -98px;
}
.dn-1 ul li .e{
    background-position: center -31px;
}
.dn-1 ul li .f{
    background-position: center -64px;
}
.dn-1 ul .dn-con{
    float: right;
    margin-right:20px;
    width: 240px;
    padding: 15px 0;
}
.dn-1 ul li p{
    font-size: 14px;
    color: #999;
    line-height: 28px;
}
.dn-1 p.big{
    font-size: 16px;
    color: #444;
    line-height: 32px;
}
.dn-1 ul li a{
    color: #2277da;
    text-decoration: none;
    font-size: 14px;
}

/*产品表单*/
.dn-2{
    width: 100%;
    background: #f2f2f2;
    padding: 40px 0;
}
.dn-2 table{
    width: 100%;
    border-collapse: collapse;     /*?表格边框合并*/
    font-size: 14px;
    background-color: #fff; 
}
.dn-2 table thead{
    vertical-align: middle;
}
.dn-2 table thead th{
    line-height: 70px;
    background: #2277da;
    color: #fff;
}
.dn-2 table .dn-list tbody{
    height: 550px;
    overflow: auto;
}
.dn-2 table tbody tr{
    border: 1px solid #eee;
}
.dn-2 table tbody td{
    line-height: 68px;
}
.dn-2 table tbody tr .pdf50{
    width: 36%;
    padding-left: 50px;
    color: #999;
}
.dn-2 table tbody tr .pdf50 b{
    display: inline-block;
    width: 100px;
    color: #444;
}
.dn-2 table tbody tr .first-y{
    width: 28%;
    text-align: center;
}
.dn-2 table tbody tr .first-y s{
    display: inline-block;
    width: 70px;
    text-align: left;
    color: #999;
}
/*选择更多云产品*/
.dn-3{
    width: 100%;
    height: 426px;
}
.dn-3 div.cp{
    width: 100%;
    height: 218px;
    margin-top: 40px;
    background: url(../img/domains/donmin_04.jpg);
}
.dn-3 ul{
    display: flex;
    justify-content: space-between;
}
.dn-3 ul li{
    width: 249px;
    padding: 20px;
    padding-right: 0;
    margin-right: 15px;
    font-size: 14px;
    color: #999;
    line-height: 28px;
}
.dn-3 ul li:last-child{
    margin-right: 0;
}
.dn-3 ul li .cpt{
    font-size: 16px;
    line-height: 32px;
    color: #444
}
.dn-3 ul li a{
    display: inline-block;
    width: 241px;
    height: 38px;
    line-height: 38px;
    color: #2277da;
    text-decoration: none;
    border: 1px solid #2277da;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

/*合作伙伴*/
.partner .content{
    width: 1200px;
    height: 285px;
}
.partner .hzp{
    overflow: hidden;
}
.partner ul.hz{
    width: 1694px !important;
    margin-top: 20px;
}
.partner ul.hz li{
    float: left;
    width: 231px;
    height: 89px;
    border: 1px dashed #ccc;
    box-sizing: border-box;
    margin-right: 10px;
}
.partner ul.hz li img{
    display: block;
    margin: 0 auto;
    margin-top: 11px;
}
.partner ul.dots{
    width: 100%;
    margin-top: 10px;
    margin-left: 537px;
}
.partner ul.dots li{
    float: left;
    margin-right: 10px;
}
.partner ul.dots a{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
}
.partner ul.dots a.active{
    background-color: #2277da;
}
/*底部样式-开始*/
footer{
    width: 100%;
    color: #bbb;
}
footer a{
    color: #bbb;
    text-decoration: none;
}
footer a:hover{
    color:#2377da;
}
/*注册会员OR成为合作伙伴*/
footer .f1{
    width: 100%;
    height: 100px;
    background:#2377da url(../img/footer/bag03.jpg) center center no-repeat;
    text-align: center;
}
footer .f1 a{
    display: inline-block;
    color: #fff;
    text-decoration:none;
    border:1px solid #fff;
    border-radius: 4px;
    padding: 10px 20px;
    position: relative;
    top:30px;
}
footer .f1 a:first-child{
    right: 2px;
}
footer .f1 a:last-child{
    left: 214px;
}
/*售后保障*/
footer .f2{
    background: #444;
}
footer .f2 .content{
    height: 80px;
    color: #fff;
}
footer .f2 .f-after{
    width: 1200px;
    height: 80px;
    font-size: 14px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
footer .f2 .f-after li{
    float: left;
    align-self: center;
}
footer .f2 .f-after li img{
    vertical-align: middle;
    margin-right: 8px;
}
/*横线*/
footer hr{
    width: 100%;
    border:none;
    border-top: 1px solid #fff;
}
/*产品导航*/
footer .f3{
    background: #444;
}
footer .f3 .content{
    height: 40px;
}
footer .f3 .f-nav{
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    font-size: 12px;
    color: #888;
}
footer .f3 .f-nav li{
    float: left;
    margin-left: 20px;
    line-height: 40px;
}
footer .f3 a{
    color: #fff;
}
footer .f3 a:hover{
    color: #2377da;
}
/*底部主导航*/
footer .f4{
    background: #2E3033;
    color:#bbb;
}
footer .f4 .content{
    height: 266px;
}
footer .f4 .fb,.flogo{
    float: left;
    margin-top: 50px;
    border-left: 1px solid #bbb;
    padding-left: 20px;
}
footer .f4 .fb{
    margin-right: 80px;
    font-size: 12px;
}
footer .f4 .fb p{
    font-size: 16px;
    margin-bottom: 15px;
}
footer .f4 .fb li{
    line-height: 2em;
}
footer .f4 table img{
    margin-right: 5px;
}
footer .f4 table td{
    width:120px;
    height: 50px;
}
footer .f4 .flogo{
    width:300px;
    height: 150px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
}
footer .f4 .flogo img{
    margin: 18px auto;
}
footer .f4 .clear:after{
  content: '';
  display: block;
  clear: both;
}
footer .f4 .fb,.flogo{
    float: left;
    margin-top: 50px;
    border-left: 1px solid #bbb;
    padding-left: 20px;
}
footer .f4 .fb{
    margin-right: 80px;
    font-size: 12px;
}
footer .f4 .fb p{
    font-size: 16px;
    margin-bottom: 15px;
}
footer .f4 .fb li{
    line-height: 2em;
}
footer .f4 table img{
    margin-right: 5px;
}
footer .f4 table td{
    width:120px;
    height: 50px;
}
footer .f4 .flogo{
    width:300px;
    height: 150px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
}
footer .f4 .flogo img{
    margin: 18px auto;
}
footer .f4 .clear:after{
  content: '';
  display: block;
  clear: both;
}
/*友情链接*/
footer .f5{
    width: 100%;
    background: #2e3033;
    font-size: 12px;
}
footer .f5 .content{
    height: 40px;
}
footer .f5 a{
    margin: 0 10px;
}
footer .f5 span{
    margin: 0 20px;
}
/*版权声明*/
footer .f6{
    width: 100%;
    height: 40px;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    color:#000;
}
/*底部样式-结束*/