*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
.content{
    width: 1200px;
    margin: 0 auto;
}
.clear-float:after{
    content: "";
    display: block;
    clear: both;
}
.clear-mt:before{
    content: "";
    display: table;
}
.container{
    min-width: 1200px;
}
h1{
    font-weight: normal;
    padding: 40px 0 10px;
}
.top{
    width: 100%;
}
nav{
    width: 100%;
    min-width: 1200px;
    height: 60px;
    font-size: 14px;
    background: #111;
    color: #fff;
    display: flex;
    position: fixed;
    z-index: 999;
    justify-content: center;
}
nav a{
    color: #fff;
    text-decoration: none;
}
nav a:hover{
    color: #2277da;
}
nav #logo{
    float: left;
    margin-top:15px;
    margin-right:50px;
}
/*顶部导航栏-中间-开始*/
nav .top-nav>li{
    float: left;
    margin-right: 20px;
    line-height: 60px;
    position:relative;
}
/*下拉-通用样式*/
nav .dropdown{       
    background:#111;
    position:absolute;
    font-size: 14px;
    display:none;
}
nav ul.dropdown{
    padding: 0 15px 10px;
}
nav ul.dropdown a,.idc .rtbox a{
    display: block;
    width:320px;
    height: 50px;
    background: #292929;
    border-radius: 4px;
    margin: 0 auto 10px;
    padding-left:10px;
}
nav ul.dropdown li,.idc .rtbox li{
    line-height: 26px;
}
nav ul.dropdown p,.idc .rtbox p{
    font-size: 10px;
    color: #999;
}
nav .pills{
  display:inline-block;
  background: #fd7b00;
  color: #fff;
  font-size: 8px;
  border-radius: 4px;
  height: 20px;
  line-height: 20px;
  padding:0 4px;
  margin-left: 8px;
}
/*域名注册*/
nav .domains .dropdown{
    width: 420px;
    height: 208px;
    padding-bottom: 10px;
}
nav .domains ul{
    border-left:1px solid #999;
    float: left;
    line-height: 36px;
    height: 100%;
    padding:0 20px;
}
nav .domains ul:first-child{
    border:0;
    padding-left:20px;
}
nav .domains ul li:first-child{
    color: #999;
}
nav .domains ul li{
    line-height: 30px;
}
nav .domains:hover .dropdown{
    display: block;
    z-index: 1;
}

/*云虚拟主机*/
nav .host:hover .dropdown{
    display: block;
    z-index: 1;
}

/*云服务器*/
nav .clouds:hover .dropdown{
    display: block;
    z-index: 1;
}

/*独立服务器*/
nav .idc .dropdown{
  width: 510px;
  height: 360px;
  padding: 10px 20px;
  line-height: 40px;
  font-size: 14px;
}
nav .idc .dropdown ul.lf{
  float: left;
  width: 150px;
  border-right: 1px solid #999;
  margin-right: 20px;
}
nav .idc .dropdown .rtbox ul{
    padding-left: 20px;
}
nav .idc .dropdown .rtbox ul a{
    float: left;
}
nav .idc:hover .dropdown{
  display: block;
  z-index: 1;
}
nav .idc .rtbox .box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,.box9{
    display: none;
}
nav .idc .rtbox .on{
    display: block;
}
/*解决方案*/
nav .solution:hover .dropdown{
    display: block;
    z-index: 1;
}
/*顶部导航栏-中间-结束*/
/*顶部导航栏-右侧-开始*/
nav .top-right li{
    float: right;
    line-height: 60px;
    font-size: 12px;
}
nav .top-right li img{
    margin:0 8px;
    vertical-align: baseline;
}
nav .top-right li:first-child{
    margin-left: 20px;
}
/*顶部导航栏-右侧-结束*/
/*top-banner*/
.banner{
    background:url("../img/index/banner1.jpg") center center no-repeat;
    height:580px;    /*?banner*/
}

/*互联网+，从域名开始*/
.dn{
    height: 246px;
    color: #444
}
.dn ul{
    margin-top: 40px;
}
.dn ul li{
    float: left;
    margin-right: 15px;
    font-size: 14px;
    margin-bottom: 5px;
}
.dn ul li span{
    color: #fc8e00;
    margin-right: 5px;
}
.dn ul li.dn-right{
    float: right;
    margin-right: 0;
}
.dn ul li.dn-right a{
    color: #999;
    text-decoration: none;
    margin-left: 30px;
}
.dn ul li.dn-right a:hover{
    color:#2277da;
}
.dn-main{
    width: 100%;
    height: 60px;
    border:1px solid #ccc;
}
.dn-main span{
    margin: auto 10px;
    line-height: 60px;
}
.dn-main input{
    height: 40px;
    padding-left: 10px;
    border:none;
    border-left: 1px solid #ccc;
    outline: none;
}
.dn-main a{
    float: right;
    color: #444;
    text-decoration: none;
}
.dn-main a.search{
    background: #2277da;
    color: #fff;    
    height: 100%;
    padding:0 40px;
    line-height: 60px;
}
.dn-main a.search img{
    vertical-align: middle;
    margin-right: 5px;
}
.dn-main a.com{
    background: url(../img/index/com_03.png);
    display: inline-block;
    text-align: center;
    width: 140px;
    height: 100%;
    line-height: 60px;
    position: relative;
}
.dn-main a.com ul{
    border: 1px solid #ccc;
    color: #999;
    background: #fff;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 138px;
    display: none;
}
.dn-main a.com:hover .dropdown{
    display: block;
}
.dn-main a.com ul li{
    width: 138px;
    line-height: 36px;
}
.dn-main a.com ul li:hover{
    background: #f2f2f2;
}
/*一站式服务*/
.one-step .content{
    height: 750px;
    color: #444;
}
.one-step p.word a{
    color: #444;
    text-decoration: none;
}
.one-step p.word a:hover{
    text-decoration: underline;
}
.one-step ul.cloud-box{
    width: 100%;
    height: 550px;
    margin-top: 56px;
}
.one-step ul .cloud{
    width: 257px;
    height: 480px;
    float: left;
    border: 1px solid #ccc;
    position: relative;
}
.one-step ul .ct1{
    height: 100px;
    text-align: center;
    background-color: #f2f2f2;
}
.one-step ul .ct1 span.tub{
    display: inline-block;
    width: 44px;
    height: 30px;
    margin: 10px 0 2px;
    background: url(../img/index/yunbag.png) no-repeat -2px -161px;
}
.one-step .ct2 ul li{
    font-size: 14px;
    line-height: 20px;
    margin-top: 25px;
    margin-left: 30px;
}
.one-step ul p.p12{
    font-size: 12px;
    color: #999;
    margin-top:5px; 
}
.one-step ul .b span.tub{
    background: url(../img/index/yunbag.png) no-repeat -2px -60px;
}
.one-step ul .c span.tub{
    background: url(../img/index/yunbag.png) no-repeat -2px -10px;
}
.one-step ul .d span.tub{
    background: url(../img/index/yunbag.png) no-repeat -2px -110.5px;
}
/*IDC解决方案*/
.idc1{
    width: 100%;
    height: 510px;
    background-image:url(../img/index/jiej_02.jpg) ;
    position: relative;
    color: #fff;
}
.idc1 .line{
  width: 90px;
  height: 8px;
  background: #ffae00;
}
.idc1 h1.ht2{
  padding-top:0;
}
.idc1 .after{
  margin-top: 60px;
}
.idc1 .after .lf{
  float: left;
  width: 50%;
  color: #999;
  box-sizing: border-box;
  padding:0 20px 0 0;
  position: relative;
  z-index: 2;
}
.idc1 .after .lf ul{
  height:100px;
  overflow: hidden;
}
.idc1 .after .lf ul li{
  float: left;
  width: 100%;
}
.idc1 .after .lf .ld span{
  display: inline-block;
  margin-top: 20px;
  width: 12px;
  height: 12px;
  background: #ffae00;
  opacity: 0.6;
  border-radius: 50%;
  margin-right: 8px;
}
.idc1 .after .lf .ld span.fst{
  opacity: 1;
}
.idc1 .after .lf .p14{
  font-size: 14px;
  margin: 30px 0;
}
.idc1 .after .rt{
  float: right;
  width: 50%;
  box-sizing: border-box;
  padding:0 40px;
  position: relative;
  z-index: 2;
}
.idc1 .after .rt h2{
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 20px;
}
.idc1 .after .rt a{
  color: #fff;
  text-decoration: none;
  display: block;
  width: 50%;
  float: left;
  font-size: 14px;
  line-height: 30px;
}
.idc1 .after .rt a:hover{
  color: #2277da;
}
.idc1 .abg{
  position: absolute;
  height: 230px;
  width: 50%;
  opacity: 0.8;
  z-index: 1;
}
.idc1 .bgl{
  background: #000;
  bottom: 0;
  zoom:1;     /*zoom的用法?*/
}
.idc1 .bgr{
  background: #ffae00;
  bottom: 0;
  right: 0;
}
/*我们的合作伙伴*/
.partner .hzp{
    overflow: hidden;
    padding-bottom: 40px;
}
.partner ul.hz{
    width: 1694px !important;
    margin-top: 20px;
}
.partner ul.hz li{
    float: left;
    width: 231px;
    height: 89px;
    border: 1px dashed #ccc;
    box-sizing: border-box;
    margin-right: 10px;
}
.partner ul.hz li img{
    display: block;
    margin: 0 auto;
    margin-top: 11px;
}
.partner ul.dots{
    width: 100%;
    margin-top: 10px;
    margin-left: 537px;
}
.partner ul.dots li{
    float: left;
    margin-right: 10px;
}
.partner ul.dots a{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
}
.partner ul.dots a.active{
    background-color: #2277da;
}

/*安徽互联网品牌领导者*/
.brand .b-pic{
    width: 100%;
    height: 184px;
}
.brand .content{
    width: 1200px;
    height: 230px;
    color: #444;
}
.brand .bl{
    background: #ffae00;
    width: 240px;
    height: 215px;
    float: left;
}
.brand .bl .blt{
    width: 100%;
    height: 177px;
    color: #fff; 
    box-sizing: border-box;
    padding-top: 30px;
}
.brand .blt p{
    text-align: center;

}
.brand .blt p span{
    font-size: 36px;
    display: block;
    margin-bottom: 20px;
}
.brand .br{
    float: right;
    font-size: 14px;
    width: 880px;
    line-height: 32px;
    margin-top: 40px;
}

/*热门动态*/
.news{
    width: 100%;
    background: #f2f2f2;
    color: #444
}
.news .content{
    height: 550px;
}
.news .news-main{
   height: 382px;
   background: #fff;
   padding:8px 18px;
   margin-top: 22px;
}
.news .xwzx{
    float: left;
}
.news .hydt{
    float: right;
}
.news .nm{
    width: 48%;
}
.news .nm .title{
    line-height: 36px;
    border-bottom: 1px solid #2277da;
}
.news .nm ul{
    padding-left:5px;
    padding-top:10px;
}
.news .nm ul a{
    color: #444;
    text-decoration: none;
}
.news .nm ul li{
    font-size: 14px;
    line-height: 42px;
}
.news .nm ul li .rt{
    float: right;
}
.news .nm>a{
    display: inline-block;
    color: #2277da;
    font-size: 14px;
    text-decoration: none;
    border:1px solid #2277da;
    padding: 5px 15px;
    border-radius: 4px;
    margin-top: 5px;
}
/*底部样式-开始*/
footer{
    width: 100%;
    color: #bbb;
}
footer a{
    color: #bbb;
    text-decoration: none;
}
footer a:hover{
    color:#2377da;
}
/*注册会员OR成为合作伙伴*/
footer .f1{
    width: 100%;
    height: 100px;
    background:#2377da url(../img/footer/bag03.jpg) center center no-repeat;
    text-align: center;
}
footer .f1 a{
    display: inline-block;
    color: #fff;
    text-decoration:none;
    border:1px solid #fff;
    border-radius: 4px;
    padding: 10px 20px;
    position: relative;
    top:30px;
}
footer .f1 a:first-child{
    right: 2px;
}
footer .f1 a:last-child{
    left: 214px;
}
/*售后保障*/
footer .f2{
    background: #444;
}
footer .f2 .content{
    height: 80px;
    color: #fff;
}
footer .f2 .f-after{
    width: 1200px;
    height: 80px;
    font-size: 14px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
footer .f2 .f-after li{
    float: left;
    align-self: center;
}
footer .f2 .f-after li img{
    vertical-align: middle;
    margin-right: 8px;
}
/*横线*/
footer hr{
    width: 100%;
    border:none;
    border-top: 1px solid #fff;
}
/*产品导航*/
footer .f3{
    background: #444;
}
footer .f3 .content{
    height: 40px;
}
footer .f3 .f-nav{
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    font-size: 12px;
    color: #888;
}
footer .f3 .f-nav li{
    float: left;
    margin-left: 20px;
    line-height: 40px;
}
footer .f3 a{
    color: #fff;
}
footer .f3 a:hover{
    color: #2377da;
}
/*底部主导航*/
footer .f4{
    background: #2E3033;
    color:#bbb;
}
footer .f4 .content{
    height: 266px;
}
footer .f4 .fb,.flogo{
    float: left;
    margin-top: 50px;
    border-left: 1px solid #bbb;
    padding-left: 20px;
}
footer .f4 .fb{
    margin-right: 80px;
    font-size: 12px;
}
footer .f4 .fb p{
    font-size: 16px;
    margin-bottom: 15px;
}
footer .f4 .fb li{
    line-height: 2em;
}
footer .f4 table img{
    margin-right: 5px;
}
footer .f4 table td{
    width:120px;
    height: 50px;
}
footer .f4 .flogo{
    width:300px;
    height: 150px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
}
footer .f4 .flogo img{
    margin: 18px auto;
}
footer .f4 .clear:after{
  content: '';
  display: block;
  clear: both;
}
footer .f4 .fb,.flogo{
    float: left;
    margin-top: 50px;
    border-left: 1px solid #bbb;
    padding-left: 20px;
}
footer .f4 .fb{
    margin-right: 80px;
    font-size: 12px;
}
footer .f4 .fb p{
    font-size: 16px;
    margin-bottom: 15px;
}
footer .f4 .fb li{
    line-height: 2em;
}
footer .f4 table img{
    margin-right: 5px;
}
footer .f4 table td{
    width:120px;
    height: 50px;
}
footer .f4 .flogo{
    width:300px;
    height: 150px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
}
footer .f4 .flogo img{
    margin: 18px auto;
}
footer .f4 .clear:after{
  content: '';
  display: block;
  clear: both;
}
/*友情链接*/
footer .f5{
    width: 100%;
    background: #2e3033;
    font-size: 12px;
}
footer .f5 .content{
    height: 40px;
}
footer .f5 a{
    margin: 0 10px;
}
footer .f5 span{
    margin: 0 20px;
}
/*版权声明*/
footer .f6{
    width: 100%;
    height: 40px;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    color:#000;
}
/*底部样式-结束*/